resources/nace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.nace.org/Services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservices.nace.org/Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.nace.org/Services/">
      <s:element name="GetCertificationsBatch">
        <s:complexType/>
      </s:element>
      <s:element name="GetCertificationsBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificationsBatchResult" type="tns:CertificationsResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificationsResultSet">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResultSet">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
              <s:element minOccurs="0" maxOccurs="1" name="CertificationHolders" type="tns:ArrayOfCertificationHolder"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCertificationHolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CertificationHolder" nillable="true" type="tns:CertificationHolder"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CertificationHolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CrmNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MiddleInit" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Certifications" type="tns:ArrayOfCertification"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCertification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Certification" nillable="true" type="tns:Certification"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Certification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cert" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ISNCert" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CertNum" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="EvalDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Expires" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="RecertDate" nillable="true" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="ResetBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetBatchResult" type="tns:ResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificationsFullSet">
        <s:complexType/>
      </s:element>
      <s:element name="GetCertificationsFullSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificationsFullSetResult" type="tns:CertificationsResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificationsTestOnly">
        <s:complexType/>
      </s:element>
      <s:element name="GetCertificationsTestOnlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificationsTestOnlyResult" type="tns:CertificationsResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCertificationsBatchSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificationsBatch"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsBatchSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificationsBatchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsBatchAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="ResetBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ResetBatch"/>
  </wsdl:message>
  <wsdl:message name="ResetBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ResetBatchResponse"/>
  </wsdl:message>
  <wsdl:message name="ResetBatchAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsFullSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificationsFullSet"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsFullSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificationsFullSetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsFullSetAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsTestOnlySoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificationsTestOnly"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsTestOnlySoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificationsTestOnlyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCertificationsTestOnlyAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:portType name="CertificationServicesSoap">
    <wsdl:operation name="GetCertificationsBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all changed certifications since last calling of this method.</wsdl:documentation>
      <wsdl:input message="tns:GetCertificationsBatchSoapIn"/>
      <wsdl:output message="tns:GetCertificationsBatchSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ResetBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resets a batch given a transactionID for that batch.&lt;br /&gt;This will allow the client to re-retrieve all the certifications that were in that batch or later batches.</wsdl:documentation>
      <wsdl:input message="tns:ResetBatchSoapIn"/>
      <wsdl:output message="tns:ResetBatchSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsFullSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all certifications.&lt;br /&gt; Should only be used in special cases as it returns a very large data set (&gt; 18MB).</wsdl:documentation>
      <wsdl:input message="tns:GetCertificationsFullSetSoapIn"/>
      <wsdl:output message="tns:GetCertificationsFullSetSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsTestOnly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns first 5 Certifications.&lt;br /&gt; TO BE USED IN TESTING ONLY. This does not return the whole result set.</wsdl:documentation>
      <wsdl:input message="tns:GetCertificationsTestOnlySoapIn"/>
      <wsdl:output message="tns:GetCertificationsTestOnlySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CertificationServicesSoap" type="tns:CertificationServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCertificationsBatch">
      <soap:operation soapAction="http://webservices.nace.org/Services/GetCertificationsBatch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetCertificationsBatchAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetBatch">
      <soap:operation soapAction="http://webservices.nace.org/Services/ResetBatch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ResetBatchAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsFullSet">
      <soap:operation soapAction="http://webservices.nace.org/Services/GetCertificationsFullSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetCertificationsFullSetAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsTestOnly">
      <soap:operation soapAction="http://webservices.nace.org/Services/GetCertificationsTestOnly" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetCertificationsTestOnlyAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CertificationServicesSoap12" type="tns:CertificationServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCertificationsBatch">
      <soap12:operation soapAction="http://webservices.nace.org/Services/GetCertificationsBatch" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetCertificationsBatchAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetBatch">
      <soap12:operation soapAction="http://webservices.nace.org/Services/ResetBatch" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ResetBatchAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsFullSet">
      <soap12:operation soapAction="http://webservices.nace.org/Services/GetCertificationsFullSet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetCertificationsFullSetAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationsTestOnly">
      <soap12:operation soapAction="http://webservices.nace.org/Services/GetCertificationsTestOnly" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetCertificationsTestOnlyAuthenticationHeader" part="AuthenticationHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificationServices">
    <wsdl:port name="CertificationServicesSoap" binding="tns:CertificationServicesSoap">
      <soap:address location="http://webservices.nace.org/services/CertificationServices.asmx"/>
    </wsdl:port>
    <wsdl:port name="CertificationServicesSoap12" binding="tns:CertificationServicesSoap12">
      <soap12:address location="http://webservices.nace.org/services/CertificationServices.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>